*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(173, 117, 117);
    
}

.heading{
    text-align: center;
    color:white;
    padding-top: 40px;
}
.form{
    height: 80%;
    width: 30%;
    
}
.main{
    height: 100%;
    width: 100%;
    background-color: white;
    margin-left: 550px;
}
.option1{
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
    
}
button{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border: none;
    background-color: rgba(0, 128, 0, 0.708);
    color: white;
    font-size: 1.1rem;
}
.mainbtn{
    background-color: rgb(33, 135, 178);
}
.main h3{
    text-align: center;
    margin-top: 30px;
}
label {
    font-size: 1.0rem;
    margin: 0px 23px;

}
input{
    width: 90%;
    margin: 0px 20px;
    height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #ddd;
    outline: none;
    border: none;
}
select{
    width: 200px;
    margin-left: 20px;
    background-color: #ddd;
    outline: none;
    border: none;
    height: 30px;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.select2 select{
    margin-left: 7px;
    margin-right: 25px;
    border-radius: 4px;
    margin-bottom: 11px;
}
.select2 label{
    margin: 0px 0px;
}
.select3 select{
   width: 90%;
   margin-bottom: 15px;
}
.select4 select{
    margin-bottom: 15px;
    margin-right: 150px;
 }
 .button button{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border: none;
    background-color: rgb(33, 135, 178);
    color: white;
    font-size: 1.1rem;
    margin-left: 27px;
 }

 @media(max-width:700px){
   .form{ 
    height: 90%;
    width: 100%;
   }
   .main{
    margin: 0px;
   }
   button{
    margin-left: 5px;
   }
   .select2 select{
    width: 175px;
   }
   .select4 select{
    width: 165px;
   }
   .button button{
    margin-top: 5px;
   }
   
   

 }
