*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body,html{
    height: 100%;
    width: 100%;
} */
.container{
    height: 100vh;
    width: 100vw;
}
.main{
    height: 100%;
    width: 40%;
     background-color: black;
}
.first{
    height: 20%;
    width: 100%;
    display: flex;  
}
 .left{
    width: 65%;
    height: 100%;
    background-color: black;
    padding-left: 40px;
}
.left h1{
    color: yellow;
    font-size: 3.5rem;
    
}
.left hr{
    height: 4px;
    background-color: white;
    border: none;
}
 .right{
    width: 35%;
    height: 0%;
    background-color: black;
}
.right h4{
   padding-top: 20px;
   padding-left: 10px;
   color: yellow;
}
.right p{
    color:white;
    padding-left: 10px;
}
.right img{
     height:110px;
     width: 300px;
     padding-left: 0px;
     padding-right: 83px;
}
.second{
    /* background-color: aqua; */
    height: 50%;
    width: 100%;
    display: flex;
}
.left1{
    height: 100%;
    width: 40%;
    background: black;
}

.up{
    height: 50%;
    width: 100%;
    background-color:black;
    /* text-align: center; */
    padding-top: 40px;
    padding-left: 20px;
    color:white;
}
.up p{
    font-size: 0.9rem;
    padding-bottom: 5px;
}
.up h1{
    padding-bottom: 7px;
}
/* .up hr{
    height: 3px;
    background-color: yellow;
    border: none;
    margin-top: 44px;
    margin-right: 0px;
} */
.up img{
    padding-left: 150px;
    height: 250px
}
.down{
    color: white;
    /* text-align: center; */
    padding-left: 20px;
    padding-top: 20px;
    font-size: 0.8rem;
    font-family: sans-serif;

}
.down hr{
    height: 4px;
    background-color: yellow;
    border: none;
    margin-top: 30px;
    margin-right: 50px;
}
.right1{
    height: 100%;
    background-color: blue;
    width: 60%;
}
.right1 img{
    height: 100%;
    width: 100%;
}
.third{
    height: 30%;
    width: 100%;
    background-color: rgb(210, 135, 22);
    display: flex;
}
.left2{
    width: 60%;
    height: 100%;
    background-color: black;
    font-family: sans-serif;
    padding-left: 60px;
    padding-top: 30px;
    color: white;
}
.right2{
    width: 40%;
    height: 100%;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    padding-top: 60px;
    color: white;
}